#bugFinder {
  .bugFinder-warning {
    padding-bottom: 20px;
    margin-top: -20px;
  }

  label {
    margin-top: 7px;
  }

  .bugFinder-console {

    background-color: #333;
    color: #fff;
    overflow: auto;
    padding: 10px;

    button {
      color: #000;
    }

    .error-text {
      padding-bottom: 5px;
    }

    > div {
      display: grid;
      grid-template-columns: 2fr 1fr 40px;
      height: 27px;

      &.green {
        color: lightgreen !important;
      }

      &.red {
        color: lightpink;

        button {
          margin-right: 5px;
        }
      }
    }
  }

  .bugFinder-settings {
    margin: 15px 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(70px, max-content) 60px 190px 1fr
  }

  .bugFinder-selector {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(50px, max-content) 2fr 100px 1fr
  }

  .bootstrap-select {
    width: 100%;
  }
}