@import "vars.scss";

.modal-content .fa-graduation-cap{
  padding-right: 3px;
}


.AI-add-panel {
  padding-left: 10px;
}

#pk button[data-name="totum-ai"]{
  margin-bottom: 10px;
  background-color: #cf222e;
  color: white;
  width: 100%;
  border: transparent;
  border-radius: 4px;
  height: 30px;
}

 #pk  .With-AI {
     display: flex;
     flex-direction: row;
     //align-items: stretch;
     height: 100%;



     .HTMLEditor {
       flex: 1;
       min-height: 300px; // минимальная высота для блока .HTMLEditor
       height: auto; // позволяет блоку увеличиваться
       max-width: calc(50% - 16px);

       div.CodeMirror-cursors {
         visibility: visible;
       }

     }

     .AI-Block {
       padding: 10px;
       padding-bottom: 5px;
       border: 1px solid #eee;
       border-radius: 4px;

       display: flex;
       flex-direction: column;
       flex: 1;
       box-sizing: border-box;
       gap: 10px;
     }

     .AI-Dialog {
       height: calc(90vh - 307px);
       max-height: 100%;
       box-sizing: content-box;
       overflow: auto;
         .message { padding: 5px; margin: 5px 0; }

       .user {
         text-align: right;
         color: #222;
         white-space: pre-line;
         background: #f9fafb;
         border-radius: 4px;
         padding: 10px;
       }
         .bot {
           text-align: left; color: #222;
           div.CodeMirror-scroll {
             margin-right: -30px;
           }

           h3{
             font-size: 18px;
           }
           h2{
             font-size: 20px;
           }
           h1{
             font-size: 22px;
           }

           code{
             color: #ab002b;
             background-color:  #f7f7f7;
           }


           .totum-code{
             position: relative;
             .CodeMirror-scroll{
               border-radius: 5px;
             }
             .CodeMirror {
               height: auto;
             }
           }
            .code-action{
              font-family: "FontAwesome" !important;
              position: absolute;
              top: 10px;
              right: 5px;
              cursor: pointer;
              z-index: 1000;
              opacity: 0.3;
            }
         }
     }

     .AI-Input {
       height: 170px;
       overflow: auto;
       border: 1px solid #eee;
       border-radius: 4px;
       .CodeMirror {

         height: auto;
         min-height: 98px;

       }
       .CodeMirror-scroll{
         background-color: transparent;
       }
     }


     .AI-Buttons {
       button {
         padding: 5px 10px;
         margin-right: 10px;
         margin-bottom: 1px;
         border-radius: 4px;
         border: 1px solid transparent;
       }
     }
   }
#pk  .bootstrap-dialog-message.With-AI, #pk  .totum-edit-codes.With-AI {
    .AI-Block{
      margin-left: 10px;
    }
}
#pk  .With-AI.With-AI2 {

  .totum-edit-codes{
    flex: 1;
    .HTMLEditor{
      flex: none;
      max-width: 100%;
      max-height: calc(90vh - 174px);
      .CodeMirror-scroll{
        min-height: calc(90vh - 226px);
      }
    }
  }
  .AI-Dialog{
    max-height: calc(90vh - 327px);
  }
}





#pk .CodeMirror {
  border-color: transparent;

  .CodeMirror-gutters {
    border-right-color: transparent;
  }

  .CodeMirror-linenumber {
    color: #cecece;
  }

  font-weight: 300;
}

.CodeMirror-readonly .CodeMirror-cursor {
  display: none !important
}

#pk .CodeMirror * {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 26px;
}

#pk .CodeMirror-scroll {
  height: auto;
  background-color: #f9fafb;

  margin-bottom: 0;
  padding-bottom: 50px;

  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}


.CodeMirror-hints {
  border-radius: 0;
  padding: 3px;
  font-size: 13px;
  overflow-x: auto;
  max-width: 600px;

  .code-edit{
    font-family: 'IBM Plex Sans';
  }

  li.CodeMirror-hint-active {
    background-color: $btn-primary-bgcolor;
  }

  .CodeMirror-hint {
    font-family: 'JetBrains Mono';

    .descr {
      color: #000;
    }

    .item-string-name {
      color: darken(#8bbe10, 10%);
    }

    .item-db-name {
      color: #576ce8;
    }

    .item-code-var {
      color: darken(#48a5ec, 40%);
    }

    .item-fieldParam {
      color: orange;
    }

    .item-reqParam {
      font-weight: bold;
    }

    .item-multiParam {
      text-decoration: underline;
    }

    .item-db_name {
      color: #576ce8;
    }
  }
}

.CodeMirror-code {
  .light {
    background-color: yellow !important;
    padding: 3px 0;
  }

  .code-block {
    background-color: #f9f8f0;
  }
  .code-block-text{
    span.cm- {
      &start, &dollar-dollar, &variable, &start {
        color: #a1af05;
      }
      &fixed.cm-start {
        color: #6c7207;
      }
    }
  }


  span.cm- {
    &start {
      color: darken(#48a5ec, 20%);

      &.cm-fixed {
        color: #1b6cec;
      }

      &.cm-exec {
        color: #b32ab3;
      }

      &.cm-dubbled {
        color: red;
      }
    }
    &function.cm-notclosed{
      background-color: #ffb3b3;
    }

    &spec {
      color: magenta;
      background: #ff00ff0f;
    }

    &spec-code {
      color: #a1af05;
    }

    &in-spec-code {
      background-color: #e4f15a;
    }

    &var-not-in {
      font-style: italic;
    }

    &variable {
      color: #48a5ec;
    }

    &code-var {
      color: darken(#48a5ec, 40%);
    }

    &global-var {
      color: #37cde8;
    }

    &process-var {
      color: #268393;
    }

    &inVars {
      color: darken(#a150ec, 40%);
    }

    &function {

    }


    &db_name {
      color: #576ce8;
    }

    &functionParam {

    }

    &fieldParam {
      color: orange;
    }

    &reqParam {
      font-weight: bold;
    }

    &multiParam {
      text-decoration: underline;
    }

    &operator {
      color: #ff6600;
    }

    &boolean {
      color: #ff38ec;
    }

    &number {
      color: #ff6600;
    }

    &string {
      color: #8bbe10;
    }

    &string-name {
      color: darken(#8bbe10, 10%);
    }

    &dollar-dollar {
      color: darken(#48a5ec, 20%);
    }

    &error {
      color: red !important;
      background-color: #fff4f6;
    }

    &tmp-error {
      color: red !important;
      background-color: #fff4f6;
    }


    /*sections*/

    &sec-title {
      color: black;
    }

    &sec-param {
      color: black;
    }

    &sec-parts {
      color: blue;
    }

    &sec-num-parts {
      color: #9a2ac2;
    }

    &sec-value {
      color: darken(#8bbe10, 10%);
    }
  }
}