.notificationTable {
  position: absolute;
  top: 50px;
  right: 20px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.4);
  border: none;
  background-color: #fff;

}

button.timer {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  padding-top: 2px;
  &:focus, &:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
  }
}