.ttm-pagination {
  padding-left: 70px;
  padding-top: 15px;
  font-size: 15px;

  height: 36px;
  box-sizing: content-box;

  >span{
    padding: 5px;
    padding-top: 7px;
    display: inline-block;
    .ttm-pages{
      padding: 0 5px;
    }
    &.ttm-pagination-warning{
        .fa-square{
          color: tomato;
        }
      /*background-color: seashell;*/
    }
  }

  button{
    margin-top: -3px;
    background-color: transparent !important;
    &:disabled{
      color: grey;
    }
  }

  button, span {
    margin-right: 5px;


    &last-child {
      padding-right: 0;
    }

    .btn {
      border-color: transparent;

      &:hover {
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      }
    }
  }
  #ttm-onpage-input {
    span {
      width: 80px;
      display: inline-block;
      margin-left: 5px;
    }
    .fa-square{
      margin-left: 5px;
    }
  }
}
.ttm-paging-danges.text-center{
  padding-top: 10px;
  margin-top: 5px;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 15px;
  background-color: tomato;
  color: #fff;
  margin-bottom: -16px;
  margin-left: -15px;
  margin-right: -15px;
}

.column-dropdown{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  color: #fff;
  background-color: tomato;
  line-height: 15px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  margin-bottom: -10px;
}

@media(max-device-width: 1199px) {
  .ttm-pagination {
    padding-left: 0px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    #ttm-onpage-input{
      display: block;
      padding-top: 10px;
    }
    height: auto;
  }

}