.innerContainer.panelsView {
  padding-top: 10px;

  &:not(.kanbanInnerContainer) {
    overflow: visible;
  }
  &.kanbanInnerContainer{
    background-color: transparent;
    border-color: transparent;
  }

  padding-bottom: 25px;

  .cell-help {
    float: right;
  }

  .pcTable-floatBlock {
    padding: 0;
    white-space: inherit;

    .panelsView-card {

      cursor: pointer;
      border: 1px solid #e9e9e9;




      &.selected {
        //background-color: #c8f8ff80;
      }

      .cell-button button{
        background-color: whitesmoke;
      }




      box-shadow: 0 0 7px 0px #0000000f;
      background-color: #fff;
      padding: 10px;
      overflow: hidden;
      margin: 5px;
      border-radius: 6px;

      > div {
        width: 100%;
        display: block;


        td {
          width: 100%;
          background-color: #fafafa;
          border-color: transparent;

          button.button-field {
            margin-top: -3px;
          }

          &.nonowrap {
            overflow: auto;
          }

          padding-top: 7px;

          td > .fa {
            padding-right: 4px;
          }
          &.with-icon{
            display: grid;
            grid-template-columns: 20px 1fr;
            .fa{
              padding-top: 3px;
            }
          }

        }

        th {
          height: 25px;
          color: #9a9a9a;
          font-family: PTRootUIWeb;
          padding: 5px 5px 0;
        }
      }

      &.mouse-on {
        position: absolute;
        background-color: lightblue;
      }
    }

  }

  .kanban .kanban-disabled:hover, .kanban .kanban-disabled *:hover {
    cursor: not-allowed;
  }

  .kanban.kanban-enabled {
    background-color: #f5f4f4;
  }

  .kanbanWrapper {
    display: grid;
    grid-gap: 10px;

    >.kanban{
      box-sizing: content-box;
      background-color: #fafafa;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 6px;
    }

    &.cln {
      position: fixed;
      top: 60px;
      overflow: hidden;

      .kanban-title {
        box-shadow: 0 0 7px 0px #0000000f
      }
    }

    .kanban_html_arrow{
      border-color: transparent;
      color: #333;
      height: 44px;
      background-color: transparent;
      &:hover {
        box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.13), 1px 1px 6px 0px rgba(0, 0, 0, 0.07);
      }
      font-size: 15px;
    }

    .kanban_left_buttons{
      text-align: center;
    }

    .kanban-html {
      overflow: auto;
      padding: 10px 15px;

      border-bottom: 1px dashed #ddd;
      margin-bottom: 10px;
    }

    .kanban-title {
      font-family: PTRootUIWeb;
      font-weight: 400;
      padding: 20px;
      font-size: 20px;
      background-color: #f3f1ed;
      padding: 10px 15px 10px 15px;
      font-size: 16px;
      margin-bottom: 10px;
      margin-right: -5px;
      margin-left: -5px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    .kanban-cards {
      margin-left: -5px;
      margin-right: -5px;

      .empty-kanban {
        padding-left: 15px;
        padding-bottom: 15px;
      }
    }
  }

  .panel-controls {

    margin-top: 15px;
    padding-left: 2px;

    .fa, span {
      opacity: 0.5;
    }

    button:not(:first-child) {
      margin-top: -2px;
      margin-left: 10px;
    }
    button{
      border-color: transparent;
      background-color: transparent;
    }
  }

  .pcTable-floatInner > div {
    margin-bottom: 5px;
  }
}