.totum-math-operations {
  margin-bottom: 20px;

  th {
    height: 32px;
    width: 150px;
  }

  th:last-child {
    width: 200px;
  }

  td {
    padding-top: 5px;
  }

}

.web-panel.linkButtons {
  .bootstrap-dialog-footer-buttons {
    display: flex;

    button {
      flex: 1 1 auto;
    }
  }
}

.edit-row-panel {
  .format-text, .format-comment {
    padding: 5px;
    font-size: 12px;
    margin-top: 5px;
  }

  .format-text + .format-comment {
    margin-top: 0px;
  }

  .format-comment, .format-text {
    i {
      padding-right: 5px;
    }
  }

  .cell-wrapper::not([data-name="data_src"]) {
    input[type=checkbox] {
      margin-top: 0;
    }
  }

  .cell-icon {
    padding-right: 10px;
  }

  .cell-wrapper.edited {
    box-shadow: inset 0 0 1000px 1000px seashell !important;
  }

  [data-field-type="select"], [data-field-type="tree"] {
    .ttm--panel-data > div, .ttm--panel-data > .select-item > span {
      padding-bottom: 4px;
    }
  }

  [data-field-type="select"] {
    .ttm--panel-data {
      > span, > div {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  [data-field-type="text"] {
    .CodeMirror {
      height: 100%
    }
  }

  [data-field-type="file"] {
    .ttm--panel-data {
      img {
        border-radius: 4px;
      }
    }
  }

  [data-field-type="text"] .ttm--panel-data {
    white-space: pre-wrap;
  }

  [data-field-type="tree"] .ttm--panel-data {
    > span:not(.select-item), span.select-item span {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }

  .ttm--panel-data {
    margin-bottom: 10px;

    &:empty {
      display: none;
    }

    > span {
      display: block;
    }

    max-height: 200px;
    overflow: auto;
  }

  [data-field-type="comments"] {
    .ttm--panel-data > div {
      padding-bottom: 4px;
    }

    span.date {
      float: right;
      clear: right;
    }
    div.edited {
      float: right;
    }

    span.user {
      padding-right: 20px;
      font-weight: bold;
    }

    .new-comment, span.text {
      white-space: pre-wrap;
    }

    .new-comment {
      background-color: seashell;
      padding: 5px;
      border-radius: 5px;
      margin: 10px 0;
      margin-left: 0;
    }
  }

  .modal-footer {
    background-color: #fbfbfb;
  }
}

.modal-footer {
  border: none;
}

.fieldparams-edit-panel {

  #fieldParamsLocker {
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #aaaaaa;
    opacity: 0.3;
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
    color: #fff;
    .unlock-click{
      font-size: 35px
    }
  }

  .field {
    .bootstrap-select button, input {
      border: 1px solid transparent !important;

    }
  }

  .fParams-grid {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
    grid-gap: 20px;
  }

  .form-control {
    font-size: 14px !important;
  }

  label span {
    font-size: 15px;
  }
}

.log-output.bootstrap-dialog {
  .modal-footer, .modal-header {
    background-color: rgb(51, 51, 51);

  }

  .bootstrap-dialog-title, .bootstrap-dialog-close-button .close {
    color: #fff;
  }

  .bootstrap-dialog-footer-buttons {
    button {
      text-shadow: none;
      background-color: rgb(51, 51, 51);
      color: #fff;
    }
  }
}

#notification_clock_panel {
  .clocks-na {
    font-size: 14px;
  }

  input {
    margin-bottom: 5px;
  }

  select {
    margin-bottom: 5px;
  }

  button {
    width: 100%;
    border-color: transparent;
  }
}

#pk #notifies_manager {
  background-color: #ffe486;
  width: 71px;
  min-width: 70px;
  padding-left: 0;
  padding-top: 1px;
  padding-bottom: 2px;
  right: 20px;
  top: 37px;
  position: absolute;
}

#notification_clock_panel_all, #notification_clock_panel{
  width: 147px;

  .clocks-na {
    font-size: 12px;
  }

  input {
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
    padding: 0 3px;
    height: 25px;
    border-radius: 0;
  }

  select {
    display: inline-block;
    margin-bottom: 4px;
    width: 100%;
    padding: 0 3px;
    height: 25px;
    border-radius: 0;
  }

  button {
    width: 100%;
    border-color: transparent;
  }
}

button[data-prop-disabled="true"] {
  opacity: 0.5;
}

.print-choosing{
  .button-wrapper{
    padding-top: 5px;
    .cell-value, button{
      font-size: 14px;
      width: 100%;
    }
    button{
      background-color: #f7f8fa;
      padding: 4px;
    }
  }
}