#table .innerContainer.rotatedPcTable {
  table  {
    width: fit-content;
    display: flex;
    thead, tbody{
      display: flex;
      &empty{
        display: none;
      }
    }
    thead, tbody  {

      th{
        height: 35px;
        padding-right: 25px;
        padding-top: 7px;
        padding-bottom: 0px;
        &.with-filter{
          &.with-help{
            padding-right: 40px;
          }
        }
        &.with-filter2{
          padding-right: 45px;
          &.with-help{
            padding-right: 60px;
          }
        }


        box-sizing: border-box;
        width: 200px;
        text-align: right;


        .pcTable-filters{
          bottom: 8px;
        }

      }
    }
    tr {
      display: block;
      td, th{
        display: block;
        margin-left: -1px;
        margin-top: -1px;
        .footer-name{
          width: 100%
        }
        &.id{
          height: 50px;
          max-height: 50px;
          width: 100%;
          &.small-rotated-id{
            .rowName{
              text-align: right;
              font-size: 10px;
            }
          }
          &:not(.small-rotated-id){
            .rowName{
              font-weight: bold;
            }
          }
        }

      }

      td {
        &.id {
          font-size: inherit;
          &:hover {
            button {
              display: inline-block;
            }
          }
          .rowName{
            display: block;
            padding-bottom: 2px;
            padding-top: 6px;
            text-align: left;
            padding-left: 5px;
            padding-right: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            min-height: 27px;
          }
          .rowId{
            padding-right: 3px;
            font-size: 12px;
          }
          &:hover .rowId{
            display: none;
          }

        }

        &.editCell[data-fieldtype="checkbox"]{
          padding-top: 6px;
        }
        .cell-value{
          padding-top: 2px;
        }
        >.cell-icon, >.ibtn, >.fa-exclamation-triangle{
          padding-top: 5px;
        }

      }

    }
  }

}

@media (max-device-width: 1199px){
  #table .innerContainer.rotatedPcTable {
    table {
      thead th, tbody td {
        height: 46px;
        max-height: 46px;
        padding-top: 5px;


        >.cell-icon, >.ibtn, >.fa-exclamation-triangle{
          padding-top: 12px;
        }
        .cell-value{
          padding-top: 0;
        }
      }

      thead th {
        padding-top: 15px;
        .cell-title{
          width: 100%;
        }

        &.with-filter2{
          padding-right: 45px;

          &.with-help{
            padding-right: 65px;
          }
        }

        .pcTable-filters {
          bottom: 13px;
          top: auto;
        }
      }
    }
  }
}