@import 'vars';


#fioPanel{
  .dropdown-menu{
    position: relative;
    margin-top: 6px;
  }
  #reUsersSliced{
    margin-bottom: 0;
  }
}

.tech-table {
  position: relative;

  > .bottomButtons {
    display: grid;
    grid-template-columns: 1fr;

    padding: 5px;
    padding-top: 15px;
    width: 100%;
    .btn{
      background-color: #f7f8fa;
      border-color: #f4f4f4;
      &:hover{
      box-shadow: inset 0 0 1000px 1000px rgba(0, 0, 0, 0.03)
      }
    }
    a {
      color: #333;
    }
  }

  .panel-buttons button {
    width: 100%;
    margin-top: 3px;
    padding: 3px;
    margin-bottom: 5px;
    z-index: 1000;
  }

  .form-control {
    height: 28px;
    font-size: 12px;
  }

  .select-btn {
    margin-top: -10px;

    .bootstrap-select > button {
      visibility: hidden;
      position: absolute;
      top: -26px;
    }
  }
}