.pcTable-table tbody td.tree-view-td{
  background-color: #faf9f8;
  border-top-color: #faf9f8;
  border-right-color: #faf9f8;
  border-left-color: #faf9f8;
  font-size: 15px;
}
.tree-view{
  .fa{
    opacity: 0.4;
    font-size: 13px;
  }
  button.btn-default{
    background-color: transparent;
    color: inherit;
  }
  .treeRow{
    padding-top: 2px;
    margin-right: 4px;

  }
  .fa-arrows-v{
    margin-right: 8px;
  }
  min-width: 50px;
  padding-right: 8px;
}
.btn.tree-view-td-edit{
  margin-right: 3px;
}
.btn.treeRow{
  border-color: transparent;
  width: 24px;
  margin-left: 4px;
  margin-right: 0;
  & + .btn.treeRow{
    margin-left: 0;
  }
}