.pcTable-table tbody td.tree-view-td {
  background-color: #f7f8fa;
  border-top-color: #faf9f8;
  border-right-color: #faf9f8;
  border-left-color: #faf9f8;
  font-size: 14px;
}

.tree-view {
  .fa {
    opacity: 0.4;
    font-size: 13px;
  }

  button.btn-default {
    background-color: transparent;
    color: inherit;
  }

  .treeRow {
    padding-top: 2px;
    margin-right: 4px;

    &.ins {
      margin-right: 8px;
    }
  }

  .tree-span-text {
    color: #818181;
  }

  .fa-arrows-v {
    margin-right: 8px;
  }

  min-width: 50px;
  padding-right: 8px;
}

.tree-view-td {
  cursor: auto;

  .treeRow {
    .ttm-pagination {
      font-weight: normal;
      padding-top: 0;
    }

    .ttm-pages-active {
      display: none;
    }

    .ttm-pages, .ttm-pages-arrows {
      padding: 0;
    }
  }

  &:hover {
    .ttm-pages-active {
      padding-top: 0;
      padding-bottom: 0;
      display: inline;
      button{
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .ttm-pages-arrows {
      display: none;
    }
  }

  > .treeRow {
    font-family: PTRootUIWeb;
    font-weight: 500;

  }
}

.btn.tree-view-td-edit {
  margin-right: 3px;
}

.btn.treeRow {
  border-color: transparent;
  width: 24px;
  margin-left: 4px;
  margin-right: 0;

  & + .btn.treeRow {
    margin-left: 0;
  }
}
