$btn-warning-bgcolor: #ffe486;
$btn-danger-bgcolor: #ff8585;
$btn-success-bgcolor: #85ff85;
$btn-primary-bgcolor: #85c6ff;
$btn-primary-primary-bgcolor: #63b6ff;
$btn-default-bgcolor: #fff;
$bg-filters-ok: #f2eeee;
$bg-tmp-table: $bg-filters-ok;

$rowsBackColor: #faf9f8;

$tmp-table-background-line-color: #f2eeee;

$btn-danger-background-new: coral;