$btn-warning-bgcolor: #ffe486;
$btn-danger-bgcolor: #cf222e;
$btn-success-bgcolor: #85ff85;
$btn-primary-bgcolor: #85c6ff;
$btn-primary-primary-bgcolor: #63b6ff;
$btn-default-bgcolor: #fff;
$bg-filters-ok: #f6f6f6;
$bg-tmp-table: $bg-filters-ok;

$rowsBackColor: #fbfbfb;

$tmp-table-background-line-color: #f6f6f6;

$btn-danger-background-new: #cf222e;

@mixin selectVal(){
  .loaded-preview{
    padding-left: 6px;
    margin-bottom: 5px;
    background-color: #f7f8fa;
    .title{
      &:not(:first-child){
        padding-top: 3px;
      }
      font-family: PTRootUIWeb;
      font-weight: bold;
    }
  }
  .btn{
    margin-right: 3px;
    margin-top: 1px;
    height: 19px;
    padding-top: 0px;
  }
}