@font-face {
	font-family: 'PTRootUI';
	src:
		url('/fonts/PT-Root-UI_Regular.woff2') format('woff2'),
		url('/fonts/PT-Root-UI_Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}