.ttm-text-center{
  text-align: center;
}

.btn, .btn-xxs {
  padding: 1px 4px;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 2px;
}
.btn.btn-default, .btn:active.btn-default {
  background-color: #fff;
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
.btn, .btn:active {
  background-image: none;
  box-shadow: none;
}