button {
  text-overflow: ellipsis;
  overflow: hidden;

  td & {
    max-width: 100%;
  }

}

.btn.button-field {
  text-shadow: none;
  background-color: #fff;
}

#selectPanel .btn.button-field {
  background-color: #fafafa;
}

td.cell-button, span.cell-button {
  button.button-field {
    border-color: transparent;
    box-shadow: 0px 2px 0px -1px rgba(0, 0, 0, 0.08), 0px 4px 2px 0px rgba(0, 0, 0, 0.01), 0px 1px 2px 0px rgba(0, 0, 0, 0.02);

    &:hover {
      border-color: transparent;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.11), 0px 4px 3px 0px rgba(0, 0, 0, 0.02), 0px 1px 5px 0px rgba(0, 0, 0, 0.02);
    }

    i {
      margin-right: 3px;
    }
  }

  button.button-field {
    i.cell-icon {
      padding-top: 2px;
      padding-bottom: 0;
      opacity: 1;
    }

    height: 25px;
  }

  button:not(.ibtn) {
    width: 100%;
  }
}

.DataRow {
  td.cell-button .cell-value {
    button.button-field {
      height: 24px;
    }
  }
}

.pcTable-floatBlock .pcTable-floatInner {

  > div td.cell-button .cell-value {
    padding-top: 0;
    margin-top: -1px;

    button.button-field {
      height: 25px;
    }
  }

  > div.no-border td.cell-button {
    padding: 5px 4px;

    button {
      height: 25px;
      padding-top: 4px;
      padding-bottom: 4px;
      background-color: #fffdf9;

      &:disabled {
        background-color: #faf9f8;
        box-shadow: 0px 2px 0px -1px rgba(0, 0, 0, 0.08), 0px 4px 2px 0px rgba(0, 0, 0, 0.01), 0px 1px 2px 0px rgba(0, 0, 0, 0.02);
      }
    }
  }

  td.cell-button {
    i.fa-spinner {
      padding-top: 6px;
    }
  }
}

body.ttm-body-mobile {
  .DataRow, .pcTable-footers {
    td.cell-button button.button-field {
      height: 28px;
      padding-top: 5px;
    }
  }
  .pcTable-buttons .cell-button {
    i.fa-spinner {
      padding-top: 12px;
    }
  }
}

body.ttm-body-desktop {
  td.cell-button {
    .cell-value {
      overflow: visible !important;

      button.button-field:disabled:hover {
        background-color: #fff;
        border-color: transparent;
      }
    }

  }
}
