@import "../vars";

#selectPanel .field-value .comments {
  span {
    display: inline;
  }
}

.pcTable-container td .cell-value {
  .notViewed {
    border-bottom: 2px solid $btn-danger-bgcolor;
  }
}

.com_author {
  font-weight: bold;
}

.com_edit {
  text-align: right;
  span + .fa {
    margin-left: 15px;
  }
}

.com_dt {
  float: right
}

.comments-line {
  padding-bottom: 14px;
  white-space: pre-wrap;
}

#selectPanelBig {
  .comments-line {
    padding-right: 10px;
  }
}

.comments-input {
  padding-top: 10px;
}