.bootstrap-datetimepicker-widget {
  .col-md-6 {
    width: 50%;
    float: left;
  }

  .timepicker{
    width: 198px;
  }
}
body.ttm-body-mobile#pk .pcTable-container .bootstrap-datetimepicker-widget {
  td,th {
    height: 20px;
  }
}

.date-popover.popover {
  max-width: 450px;
  width: 450px;
}