@import "../vars";

.field-param-lable a {
  cursor: pointer;
  margin-left: 4px;

  i {
    color: #ddd;
    margin-left: 5px;

    &:hover {
      color: $btn-danger-bgcolor;
    }
  }
}

.code-checkboxes-warning-panel {
  background-color: #fff;
  display: block;
  color: #fff;
  text-align: center;
}

.code-checkboxes-active-warning {
  .code-checkboxes-warning-panel {
    background-color: tomato;
  }
}

.form-group:not(.disabled) {
  .code-checkboxes-warning-panel.only-when-active {
    background-color: tomato;
  }
}