#selectPanel.text {
  img {
    margin: 0 5px 0px 0;
  }

  a {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    padding-bottom: 2px;
    max-width: 290px;
    max-height: 100%;
  }

  .with-img a:last-child {
    max-width: 162px;
  }


}

.modal-dialog .file-mini-panel {
  display: flex;
  flex-wrap: wrap;
  > div {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid transparent;
    padding-top: 0;

  }
}

.addFile .progressbar {
  height: 30px;
  border: none;
  padding-top: 4px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 6px;
}

.addFilesButton {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 108px 1fr;
  grid-gap: 20px;

  .ttm-dropzone {
    border: 1px dashed #ccc;
    border-radius: 3px;
    font-family: sans-serif;
    padding: 4px;
    font-size: 12px;
    padding-left: 10px;

    &.disabled {
      color: gray
    }

    &.highlight:not(.disabled) {
      border-color: purple;
      background: linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, green 49.9%, green 60%, rgba(0, 0, 0, 0) 60%) fixed,
      linear-gradient(45deg, green 10%, rgba(0, 0, 0, 0) 10%) fixed;
      background-size: 0.5em 0.5em
    }
  }
}

.file-sell-text img {
  padding-right: 5px;
  margin-top: -3px;
}

.filePart {
  margin-bottom: 10px;

  button.remove {
    margin-left: 5px;
  }

  img {
    margin: 0 5px 0px 0;
  }

  .name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    max-width: 507px;
  }

  &.with-img .name {
    max-width: 401px;
  }
}

.file-mini-panel div {
  padding-top: 15px;

  &:first-child {
    padding-top: 0;
  }
}

.InsertPanel {
  [data-field-type="file"] {
    .ttm--panel-data {
      .panel-preview{
        overflow: auto;
      }
    }
    .panel-preview, .ttm--panel-data {
      max-height: 200px;
      overflow: auto;

      div {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 15px;

        &:first-child {
          padding-top: 0;
        }

      }

      img {
        max-width: 200px;
        max-height: 150px;
        padding-right: 3px;
        padding-right: 10px;
      }
    }
  }
}