.modal-body .edit-field .bootstrap-select button.btn-default{
  height: 100%;
}

.select-with-preview li a {
  font-style: italic;
}

#selectPanel.preview div.preview {
  overflow-y: auto;
  overflow-x: auto;
  padding: 5px;

}

.input-select .bootstrap-select.form-control button{
  height: 34px;
}

.bootstrap-select.form-control{
  background-color: #e4e0e0;
}
.popover.super-wide {
  width: 60vw;
  height: 80vh;
  overflow: auto;

  #selectPanel {
    width: 100%;
    height: 100%;

  }

  .arrow {
    display: none;
  }
}
.cell-value{
  .separator{
    margin: 0 -4px;
  }
}

#selectPanel, #selectPanelBig {
  .previews {
    padding-top: 7px;
    background-color: #fafafa;
    padding-left: 10px;
    background-color: #fafafa;

    .title {
      &:not(:first-child) {
        padding-top: 3px;
      }

      font-family: PTRootUIWeb;
    }
    padding-bottom: 5px;
  }

  .title {
    font-weight: bold;
  }

  .creator-select-val {
    color: $btn-danger-bgcolor;
    margin-top: auto;
  }

  .file-label {
    padding-top: 3px;
    font-weight: bold;
  }

  &.cell-button {
    .copytext-wrapper {
      button {
        width: calc(100% - 6px);
        padding: 4px;
      }
    }
  }

  &#selectPanel {
    width: 200px;

    &.text {
      width: 300px;
    }
    &.panel-wide {
      width: 400px;
    }
    &.panel-extrawide {
      width: 500px;
    }

    .field-value {
      height: 200px;
    }
    .calc-value{
      padding-bottom: 10px;
    }

    img {
      max-width: 280px;
    }
  }

  overflow-y: auto;

  .cell-icon {
    padding-right: 5px;
    padding-top: 2px;
    float: left;
  }


  div.preview {
    padding: 5px 0;
  }


  font-size: 13px;

  -webkit-user-select: auto;
  -moz-user-select: text;
  -khtml-user-select: auto;
  user-select: text;


  .row-name {
    font-size: 11px;

    .id-val {
      font-weight: bold;
    }
  }

  .column-name {
    font-weight: 500;
    font-family: PTRootUIWeb;
    font-size: 14px;
  }


  .field-value {
    padding: 5px 0;
    overflow-y: auto;
    font-size: 12px;
    white-space: pre-wrap;
    display: flex;

    flex-direction: column;
    justify-items: self-start;

    .select-item span {
      display: block;
    }

    .select-val {
      @include selectVal();
      line-height: 20px;
      .btn{
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }
  }

  .sp-element ~ .sp-element {
    padding-top: 5px;
  }
  .button-field:hover, .panel-buttons button:hover{
    box-shadow: inset 0 0 1000px 1000px rgba(0, 0, 0, 0.03);
  }

  .buttons {
    padding-top: 5px;

    button {
      margin-left: 3px;

      &:first-child {
        margin-left: 0px;
      }
      &:hover{
        box-shadow: inset 0 0 1000px 1000px rgba(0, 0, 0, 0.03);
      }
    }
  }
}

.edit-row-panel .format-panel {
  padding: 10px 0 5px;

  .panel-buttons {
    margin-right: -6px;

  }

  .panelView {
    padding-top: 10px;
  }
}


#selectPanelBig.select-panel-expanded *{
  font-size: 15px;
}

#selectPanelBig, #selectPanel, .edit-row-panel .format-panel {
  i.fa-eye{
    vertical-align: initial;
  }



  .panel-buttons {
    button {
      width: calc(100% - 6px);
      padding: 4px;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      margin-top: 5px;

      &:first-child {
        margin-top: 0;
      }
      i.fa{
        padding-right: 5px;
      }
    }
  }

  .panel-text, .panel-html, .panel-buttons, .panel-img {
    padding-bottom: 10px;
  }

  .copytext-wrapper {
    margin: 10px 0 5px;
    padding: 10px 0;

    .copytext {
      &[data-unit]:after {
        content: ' ' attr(data-unit);
      }

      &[data-unit-before]:before {
        content: attr(data-unit-before) ' ';
      }

      &[data-unit] {
        display: inline;
      }

      &[data-unit-before] .select-val {
        display: inline;
      }
    }
  }
}

.panelsView-card td[data-field-type="select"].nonowrap {
  white-space: pre-line;
}