.select-with-preview li a {
  font-style: italic;
}

#selectPanel.preview div.preview {
  overflow-y: auto;
  overflow-x: auto;
  padding: 5px;

}

.popover.super-wide {
  width: 60vw;
  height: 80vh;
  overflow: auto;

  #selectPanel {
    width: 100%;
    height: 100%;

  }

  .arrow {
    display: none;
  }
}

#selectPanel {
  &.cell-button {
    .copytext-wrapper {
      button {
        width: 100%;
        padding: 3px;
      }
    }
  }

  width: 200px;
  overflow-y: auto;

  .cell-icon {
    padding-right: 5px;
    padding-top: 2px;
    float: left;
  }

  .title {
    font-weight: bold;
  }

  div.preview {
    padding: 5px 0;
  }

  .previews {
    padding-top: 7px;
    background-color: #fafafa;
    padding-left: 10px;
    .title{
      &:not(:first-child){
        padding-top: 3px;
      }
      font-family: PTRootUIWeb;
    }

  }

  &.text {
    width: 300px;
  }

  .creator-select-val {
    color: $btn-danger-bgcolor;
    margin-top: auto;
  }

  font-size: 13px;

  -webkit-user-select: auto;
  -moz-user-select: text;
  -khtml-user-select: auto;
  user-select: text;


  .row-name {
    font-size: 12px;

    .id-val {
      font-weight: bold;
    }
  }

  .column-name {
    font-weight: 500;
    font-family: PTRootUIWeb;
  }


  .field-value {
    padding: 5px 0;
    overflow-y: auto;
    font-size: 12px;
    white-space: pre-wrap;
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-items: self-start;

    .select-item span {
      display: block;
    }
    .select-val{
      @include selectVal();
    }
  }

  .sp-element ~ .sp-element {
    padding-top: 5px;
  }

  .buttons {
    padding-top: 5px;

    button {
      margin-left: 3px;

      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

.edit-row-panel .format-panel {
  padding: 10px 0 5px;

  .panel-buttons {
    margin-right: -6px;
  }

  .panelView{
    padding-top: 10px;
  }
}

#selectPanelBig, #selectPanel, .edit-row-panel .format-panel {
  .panel-buttons {
    button {
      width: calc(100% - 6px);
      padding: 3px;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      margin-top: 5px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .panel-text, .panel-html, .panel-buttons, .panel-img {
    padding-bottom: 10px;
  }

  .copytext-wrapper {
    margin: 10px 0 5px;
    padding: 10px 0;

    .copytext {
      &[data-unit]:after {
        content: ' ' attr(data-unit);
      }

      &[data-unit] {
        display: inline;
      }
    }
  }
}

.panelsView-card td[data-field-type="select"].nonowrap {
  white-space: pre-line;
}