



div.jsoneditor-tree {
  min-height: 200px;
  max-height: calc(99vh - 250px);
}
@media screen and ( max-height: 500px ) {
  div.jsoneditor-tree {
    min-height: 50px;
  }
}

div[data-field-type="text"].nonowrap {
  .cell-value {
    white-space: pre-line;
  }
}
.panelsView-card td[data-field-type="text"].nonowrap {
    white-space: pre-line;
}

.CodeMirror pre.CodeMirror-placeholder.CodeMirror-line-like {
  color: #d0d0d0;
}
