@import "../vars";
button.tree-button{
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  i{
    float: left;
    margin-top: 3px;
    margin-left: -3px;
    padding-right: 3px;
    &.fa-spinner{
      display: none;
    }
  }
  &:disabled{
    i.fa-spinner{
      display: inline-block;
    }
    i.fa-tree{
      display: none;
    }
  }
}
.jstree-disabled .jstree-checkbox{
  display: none;
}
.tree-search{
  padding-bottom: 5px;
}
.jstree-default .jstree-node{
  background: none;
  margin-bottom: 4px;
}
.edit-tree-icon{
  padding-right: 8px;
  padding-left: 5px;
  opacity: 0.4;
  font-size: 12px;
  + .edit-tree-icon{
    padding-left: 0px;
  }
}
.panelsView-card td[data-field-type="select"].nonowrap {
  white-space: pre-line;
}