@import "../vars";
button.tree-button{
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  i{
    float: left;
    margin-top: 3px;
    margin-left: -3px;
    padding-right: 3px;
    &.fa-spinner{
      display: none;
    }
  }
  &:disabled{
    i.fa-spinner{
      display: inline-block;
    }
    i.fa-tree{
      display: none;
    }
  }
}
.jstree-disabled .jstree-checkbox{
  display: none;
}
.tree-search{
  padding-bottom: 5px;
}
.edit-tree-icon{
  padding-right: 3px;
  padding-left: 3px;
  color: $btn-primary-primary-bgcolor;
  + .edit-tree-icon{
    padding-left: 0px;
  }
}